.book-store img{
    height: 350px;
    width: 1535px;

    
   
  
     
    
}
.book-store .text{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  font-size: 3rem;
  transform: translate(-50%,-50%);
font-family: sans-serif;
}
  
.book-store .text2{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 60%;
  font-size: 3rem;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
}

/* Parent container */
.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Space between cards */
  justify-content: space-between;
}

/* Each card */
.card {
  width: calc(33.33% - 16px); /* Three cards per row with some spacing */
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}
